{% extends "ComponentPages/pageWrapper.html" %}

{% block jsTablueLink %}
    <script type='module' src="{{tablue_server_js}}"></script>
{% endblock %}

{% block content %}
    <div class="main_section">

        <div class="form_header">
            <img src="{{ url_for('static', filename='images/logo.svg') }}">
        </div>
        <div class="form_box d-flex">
            <form id="loan-form" action="/submit-form" method="POST">
                <div class="form-group">
                    <label for="amount_financed">Loan Amount</label>
                    <input type="text" id="amount_financed" name="amount_financed">
                    <h6 id="amount_financed_check" ></h6><br>
                </div>

                <div class="form-group">
                    <label for="deposit_amount">Deposit Amount</label>
                    <input type="number" id="deposit_amount" name="deposit_amount">
                    <h6 id="deposit_amount_check" ></h6><br>
                </div>

                <div class="form-group">
                    <label for="balloon_amount">Balloon Amount</label>
                    <input type="number" id="balloon_amount" name="balloon_amount">
                    <h6 id="balloon_amount_check" ></h6><br>
                </div>

                <div class="form-group">
                    <label for="repayment_term_month">Repayment Term (Months)</label>
                    <select id="repayment_term_month" name="repayment_term_month">
                    
                    </select>
                </div>

                <div class="form-group">
                    <label for="applicant_entity_type">Applicant Entity Type</label>
                    <select id="applicant_entity_type" name="applicant_entity_type">
                        <option value="TRUSTS">TRUSTS</option>
                        <option value="SOLE_TRADER" >SOLE TRADER</option>
                        <option value="COMPANY">COMPANY</option>
                        <option value="PARTNERSHIP">PARTNERSHIP</option>
                      </select>
                </div>

                <div class="form-group">
                    <label for="asset_supplier_type">Asset Supplier Type</label>
                    <select id="asset_supplier_type" name="asset_supplier_type">
                        <option value="DEALER">DEALER</option>
                        <option value="PRIVATE">PRIVATE</option>
                      </select>
                </div>

                <!-- <div class="form-group">
                    <label for="asset_category">Asset Category</label>
                    <select id="asset_category" name="asset_category">
                        <option value="">--Select Category--</option>
                        <option value="Primary">Primary</option>
                        <option value="Secondary">Secondary</option>
                        <option value="Tertiory">Tertiory</option>
                    </select>
                </div> -->
                
                <div class="form-group">
                    <label for="asset_type">Asset Type</label>
                    <select id="asset_type" name="asset_type">
                        <option value="">--Select Type--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="asset_manufacture_year">Asset Manufacture Year</label>
                    <select id="asset_manufacture_year" name="asset_manufacture_year">

                    </select>
                </div>

                <div class="form-group">
                    <label for="usage_type">Used Asset</label>
                    <select id="usage_type" name="usage_type">
                        <option  value="USED">Yes</option>
                        <option value="NEW">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="gst_registered_date">GST Registered Date</label>
                    <input type="date" id="gst_registered_date" name="gst_registered_date">
                </div>

                <div class="form-group">
                    <label for="abn_registered_date">ABN Registered Date</label>
                    <input type="date" id="abn_registered_date" name="abn_registered_date">
                </div>

                <div class="form-group">
                    <label for="guarantor_1_residential_status" >Guarantor 1 Residential Status</label>
                    <select name="guarantor_1_residential_status">
                        <option value="OWNING">OWNING</option>
                        <option value="RENTING">RENTING</option>

                    </select>
                </div>
                <div class="form-group w-100">
                    <div class="submit_btn_spinner">
                        <button class="submit_btn">Match Lenders <div class="spinner-border text-primary " style="display: none;" id="loader"></div></button></div>
                </div>
            </form>
            <div class="right w-100 mt-4">
                <div class="accordion" id="accordionExample">
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Accordion Item #1
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="right_inner">
                                <h1>Quest</h1>
                                <div id="result-content"></div> 
                            </div>
                        </div>
                      </div>
                    </div> -->
                 
                  </div>
               
            </div>
        </div>
       
    </div>
  {% endblock %}
